@import '~variables';
@import '~grid';

.root {
  @include grid;
  height: 100vh;
  margin: auto;
  align-items: center;

  .card {
    @include col(4, 4);
    background-color: $white;
    border-radius: $radius;
    padding: $gap-md;
    text-align: center;
  }
}