@import '~variables';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;

  .card {
    width: 300px;
    background-color: $white;
    border-radius: $radius;
    padding: $gap-md;
    text-align: center;
  }
}