@import '~variables';
@import '~grid';

$navbar-height: $gap-md * 4;

.root {
    height: $navbar-height;
    background-color: $white;
    box-shadow: 0 0 $gap-md rgba($dark-grey, 0.5);
}

.grid {
    @include grid;
    min-height: 100%;
    align-items: center;

    & > * { @include col(6); }
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    & .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        border: 6px double $white;
        width: $navbar-height / 1.5;
        height: $navbar-height / 1.5;
        border-radius: 50%;
        color: $white;
        font-size: $font-lg;
        margin-left: $gap-sm;
        transition: 0.3s;
    }

    &:hover .avatar {
        transition: 0.3s;
        background-color: $secondary;
    }
}

.root + * {
    padding: $gap-md;
    min-height: calc(100vh - #{$navbar-height} - #{$gap-md} * 2);
}