@import '~variables';
@import '~grid';

.noWorlds {
    @include grid;
    text-align: center;
    align-items: center;
    justify-content: center;

    & .content {
        @include col(4, 4);
        & > * { margin: $gap-sm 0; }
    }
}

.worlds {
    @include grid;

    & > * {
        @include col(4);
    }

    & .badge {
        font-family: $sans-serif;
        font-size: $font-sm;
        color: $white;
        display: inline-block;
        padding: $gap-sm $gap-md;
        margin-left: $gap-md;
        background-color: $grey;
        border-radius: $radius-xl;
        text-transform: uppercase;

        &.public {
            background-color: $secondary;
        }
    }
}