@import '~variables';

.root {
  background-color: $primary;
  color: $white;
  font-size: $font-sm;
  font-weight: bold;
  text-transform: uppercase;
  padding: $gap-md;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.2s;
  outline: 0;
  letter-spacing: 1px;

  &.block { width: 100%; }

  &:hover {
    transition: 0.2s;
    background-color: mix($black, $primary, 20%);
  }

  &:disabled {
    background-color: $grey;
    cursor: default;
  }
}